@model OficinaWebMVC.Database.Entities.Orcamento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Orcamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataInicialOrcamento" class="control-label"></label>
                <input asp-for="DataInicialOrcamento" class="form-control" />
                <span asp-validation-for="DataInicialOrcamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAprovacaoCliente" class="control-label"></label>
                <input asp-for="DataAprovacaoCliente" class="form-control" />
                <span asp-validation-for="DataAprovacaoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFinalOrcamento" class="control-label"></label>
                <input asp-for="DataFinalOrcamento" class="form-control" />
                <span asp-validation-for="DataFinalOrcamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsavel" class="control-label"></label>
                <input asp-for="Responsavel" class="form-control" />
                <span asp-validation-for="Responsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfResponsavel" class="control-label"></label>
                <input asp-for="CpfResponsavel" class="form-control" />
                <span asp-validation-for="CpfResponsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusOrcamento" class="control-label"></label>
                <select asp-for="StatusOrcamento" class="form-control"></select>
                <span asp-validation-for="StatusOrcamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
