@{
    ViewData["Title"] = "Oficna WEB";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <img src="https://blog.simplusbr.com/oficina-mecanica-organizada/"></img>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Seja bem vindo ao nosso sistema de Orçamento WEB</a>.</p>
</div>
